.left-sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-color: rgba(222, 222, 252, 0.8); /* Adjust the alpha value to make it more or less transparent */
  width: 200px;
}

.left-sidebar-content {
  padding: 20px; /* Adjust padding as needed */
  overflow-y: auto; /* Add vertical scroll functionality */
  max-height: calc(100vh - 58px); /* Adjust max height to fit the sidebar's height */
}

.left-sidebar-content a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 5px; 
}

 a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(161, 161, 221); 
}